body {
  background-color: #357ec7;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
}

.tab {
  width: 850px;
  padding: 2px;
  margin: 50px;
  background-color: #989FA2;
  border: 1.5px solid black;
  box-shadow: inset 1px 1px #d9e2e6, 1px 1px #000;
}

.head {
  width: auto;
  p{
    text-align:center;
    color:white;
    background-color: #12086f;
    border: 1.5px solid black;
    margin:0px;
    float:left;
    width: 779px;
  }
  img {
    margin:0px;
    display:block;
    float:left;
    height:21.5px;
  }
}

.inside-tabs{
  width: auto;
  p{
    background-color: white;
    padding: 2px;
    text-align:left;
    color:black;
    border: 1.5px solid black;
    margin:0px;
  }
}
.top-navigation {
  overflow: hidden;
  margin: 1px
}

.buttons{
  width: 70px;
  border: 1.5px solid black;
  box-shadow: inset 1px 1px #d9e2e6, 1px 1px #000;
  margin: 5px;
  text-align:center;
  float: left;
  img{
    margin:0px;
    display:block;
    float:left;
    align-items:center;
    height:30px;
  }
}

.bottom{
  width: 815px;
  border: 1.5px solid black;
  padding:1px;
  background-color: #989FA2;
  box-shadow: inset 1px 1px #d9e2e6, 1px 1px #000;
  margin: 0px;
}

.inbox {
  width: 760px;
  border: 1.5px solid #989FA2;
  padding:1px;
  margin:0px;
  background-color: #989FA2;
  p{
    text-align:center;
    color:black;
    border: 1.5px solid black;
    margin:0px;
  }
  img {
    margin:0px;
    display:block;
    float:left;
    height:21.5px;
  }
}

.boxes {
  overflow: hidden;
  margin: 2px
}

.folders {
  width: auto;
  height: 300px;
  border: 1px solid black;
  padding:0px;
  float:left;
  background-color: white;
  p{
    width: 150px;
    text-align:left;
    color:black;
    background-color: #989FA2;
    padding:2px;
    margin:0px;
    border: 1px solid black;
    box-shadow: inset 1px 1px #d9e2e6, 1px 1px #000;
  }
}
.yellow-folders{
  img {
    margin:0px;
    display:block;
    float:left;
    height:75px;
  }
  p{
    width: 150px;
  text-align:left;
  color:black;
  padding:2px;
  margin:0px;
  }
}

.lables{
  overflow: hidden;
  margin: 0px
}

.emails{
  width: 650px;
  border: 1.5px solid black;
  padding:0px;
  margin:0px;
  float:left;
  background-color: white;
  p{
    width:210px;
    text-align:left;
    color:black;
    background-color: #989FA2;
    border: 1px solid black;
    padding:2px;
    margin:0px;
    box-shadow: inset 1px 1px #d9e2e6, 1px 1px #000;
    float:left;
  }
  .accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 600px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    img{
      margin:0px;
      display:block;
      float:left;
      height: 22px;
    }
  }
  
  /*background color when clicked or hover*/
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 10px;
    margin:3px;
    background-color: white;
    display: none;
    overflow: hidden;
    width:500px;
    p{
      width:500px;
      text-align:left;
      color:black;
      background-color: #989FA2;
      border: 1px solid black;
      padding:3px;
      margin:0px;
      box-shadow: inset 1px 1px #d9e2e6, 1px 1px #000;
      float:left;
    }
  }
}

.very-bottom{
  margin:0px;
  padding:2px;
  height:20px;
  width: 815px;
  border: 1px solid black;
  box-shadow: inset 1px 1px #d9e2e6, 1px 1px #000;
  p{
    margin:0px;
    text-align:right;
  }
}










